/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// Override outlined card border color
.v-theme--light.v-card--variant-outlined {
  border: thin solid rgba(0, 0, 0, .12);
}

// Override outlined card border color
.v-theme--light a {
  color: rgb(var(--v-theme-primary));
}

.v-app-bar.v-toolbar a,
.v-menu a {
  color: inherit;
}
