<p>
    This API was designed to be accessed by
    the <a href="{{ nmdc_data_portal_url }}">NMDC Data Portal</a> and
    the <a href="{{ nmdc_submission_portal_url }}">NMDC Submission Portal</a> only.
</p>

<p>
    <strong>Want to access NMDC data from your own scripts and programs?</strong>
    Check out the <a href="{{ runtime_api_url }}">NMDC Runtime API</a>, which was
    designed to be accessed by third-party scripts, programs, and other HTTP clients.
</p>

<p>
    <strong>NMDC developers:</strong> To use authenticated endpoints of this API,
    you must first obtain an Access Token by following the instructions in the
    Developer Tools section <a href="{{ developer_tools_url }}">here</a>.
    Once you have an Access Token, click the "Authorize" button on this page.
    In the popup, paste the token in the "Value" field and click "Authorize".
</p>
