load_module modules/ngx_http_zip_module.so;
worker_processes 1;

events {
    worker_connections 1024;
}

http {
    include mime.types;
    server {
        listen 80;
        index index.html;
        root /www/data/;

        server_name localhost;

        location / {
            try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html;
        }

        location /index.html {
            add_header Cache-Control no-cache;
        }

        # https://stackoverflow.com/a/52319161
        location ~ ^/(api|docs|login|logout|token|openapi.json|static) {
            resolver $DNS_ADDRESS;
            set ${DOLLAR}backend ${BACKEND_URL};
            proxy_pass ${DOLLAR}backend;
            proxy_set_header Host ${DOLLAR}host;
            proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
            proxy_set_header X-Forwarded-For ${DOLLAR}proxy_add_x_forwarded_for;
        }

        location /data/ {
            proxy_pass http://data:8080/;
            proxy_buffering off;
        }

        location /nmdcdemo/ {
            proxy_pass https://nmdcdemo.emsl.pnnl.gov/;
        }
    }
}
