worker_processes 1;

events { 
    worker_connections 1024; 
}

http {
    include mime.types;
    server {
        listen 80;
        index index.html;
        root /www/data/;
        
        server_name localhost;
        
        location / {
            try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html;
        }

        location /index.html {
            add_header Cache-Control no-cache;
        }

        # https://stackoverflow.com/a/52319161
        location ~ ^/(api|docs|login|logout|token|openapi.json) {
            resolver $DNS_ADDRESS;
            set ${DOLLAR}backend ${BACKEND_URL};
            proxy_pass ${DOLLAR}backend;
        }
    }
}
